<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Aluno</th>
            <th>Periodo</th>
            <th>Turma</th>
            <th>Média/Notas</th>
            <th>Frequência</th>
            <th>Situação Final</th>
            <th>Registrar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let alunoTurma of listaAlunos">
            <td>{{alunoTurma.nome }}</td>
            <td>{{alunoTurma.periodo}}</td>
            <td>{{alunoTurma.turma.numeroTurma}}</td>
            <td>{{alunoTurma.calculaMediaFinal() }}</td>
            <td>{{alunoTurma.totalFrequencia}}</td>
            <td [class.table-danger]="alunoTurma.situacaoFinal() == 'Reprovado' || alunoTurma.situacaoFinal() == 'Reprovado por Falta'"
                [class.table-success]="alunoTurma.situacaoFinal() == 'Aprovado'">
                {{alunoTurma.situacaoFinal() || 'N/I'}}
            </td>
            <!-- <td class="table-success" *ngIf="alunoTurma.situacao() == 'Aprovado'">{{alunoTurma.situacao}}</td>
            <td class="table-danger" *ngIf="alunoTurma.situacao == 'Reprovado' || alunoTurma.situacao == 'Reprovado por Falta'">{{alunoTurma.situacao}}</td>
            <td *ngIf="alunoTurma.situacao == null">N/I</td> -->
            <td>
                <button class="btn btn-primary btn-sm" (click)="editAluno(alunoTurma)" title="Editar Aluno">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button class="btn btn-danger btn-sm" (click)="deleteAluno(alunoTurma)" title="Excluir Aluno">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7" [class.table-warning]="mediaTurma < 7" [class.table-info]="mediaTurma >= 7">Média da Turma: {{mediaTurma || 'N/I'}}</td>
        </tr>
    </tfoot>
</table>