<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <h2 class="display-2 text-center">Escola Cruzeiro do Sul</h2>
        <p class="lead text-center"><strong>Acadêmicas: Fernanda Gomes e Tayse Virgulino</strong></p>
        <p class="lead text-center">
            1) CRUD de turmas: o aplicativo deve permitir que o usuário cadastre, veja a lista e exclua turmas;<br /><br />            
            2) CRUD de alunos: o aplicativo deve permitir que o usuário cadastre, veja a lista e exclua alunos de uma turma. Considere que um aluno pode estar em mais de uma turma e, no outro sentido, uma turma pode ter zero ou mais alunos.<br /><br />
        </p>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <h2> Lista de Turmas</h2>
                <p class="lead">
                    <button class="btn btn-primary" (click)="alteraForm('turma')"><i class="fa fa-plus" aria-hidden="true" ></i> Cadastrar Turma</button>
                </p>
                <app-lista-de-turmas [listaTurmas]="turmas"
                        (onEditar)="editTurma($event)" 
                        (onExcluir)="deleteTurma($event)"
                        (onViewAlunos)="viewAlunosTurma($event)">
                </app-lista-de-turmas>
            </div>
            <div>
                <h2> Lista de Alunos</h2>
                <p class="lead">
                    <button class="btn btn-primary" *ngIf="btnCadastrarAluno" (click)="alteraForm('aluno')"><i class="fa fa-plus" aria-hidden="true" ></i> Cadastrar Aluno</button>
                </p>
                <app-lista-de-alunos *ngIf="listarAlunos" [listaAlunos]="alunoTurmaBackup"
                    (onEditar)="editAluno($event)" 
                    (onExcluir)="deleteAluno($event)">  
                </app-lista-de-alunos>
            </div>
        </div>

        <!-- CADASTRAR TURMA -->
        <div class="col">
            <div *ngIf="cadastrarTurma">
                <h2> Cadastrar Turma</h2>
                <form #formCadastro="ngForm" (ngSubmit)="createTurma()">
                    <div class="form-group">
                        <label for="numeroTurma">Número da Turma:</label>
                        <input type="number" class="form-control" id="numeroTurma" name="numeroTurma" [(ngModel)]="novaTurma.numeroTurma" required>
                    </div>

                    <div class="form-group">
                        <label for="nomeTurma">Nome:</label>
                        <input type="text" class="form-control" id="nomeTurma" name="nomeTurma" [(ngModel)]="novaTurma.nome" required>
                    </div>

                    <div class="form-group">
                        <label for="nomeTurma">Status:</label>
                        <div class="radio">
                            <label class="radio-inline"><input type="radio" name="status" value="Ativa" [(ngModel)]="novaTurma.status" > Ativa</label>
                            <label class="radio-inline"><input type="radio" name="status" value="Inativa" [(ngModel)]="novaTurma.status"> Inativa</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!formCadastro.valid"><i class="fa fa-check" aria-hidden="true"></i> Salvar</button>
                    <button type="text" class="btn btn-danger" (click)="limpar()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>                
                    
                </form>
                        </div>

            <!-- CADASTRAR UM ALUNO -->
            <div *ngIf="cadastrarAluno">
                <h2> Cadastrar Aluno</h2>
                <form #formCadastro="ngForm" (ngSubmit)="createAluno()">
                    <div class="form-group">
                        <label for="nome">Nome do Aluno:</label>
                        <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="novo.nome" required>
                    </div>

                    <div class="form-group">
                        <label for="periodo">Período:</label>
                        <input type="number" class="form-control" id="periodo" name="periodo" [(ngModel)]="novo.periodo" required>
                    </div>

                    <div class="form-group">
                        <label for="nota1">Nota 1:</label>
                        <input type="number" class="form-control" id="nota1" name="nota1" [(ngModel)]="novo.nota1" >
                    </div>
                    <div class="form-group">
                        <label for="nota2">Nota 2:</label>
                        <input type="number" class="form-control" id="nota2" name="nota2" [(ngModel)]="novo.nota2" >
                    </div>
                    <div class="form-group">
                        <label for="nota3">Nota 3:</label>
                        <input type="number" class="form-control" id="nota3" name="nota3" [(ngModel)]="novo.nota3" >
                    </div>
                    <div class="form-group">
                        <label for="nota4">Nota 4:</label>
                        <input type="number" class="form-control" id="nota4" name="nota4" [(ngModel)]="novo.nota4" >
                    </div>
                    <div class="form-group">
                        <label for="frequencia">Total Frequência:</label>
                        <input type="number" class="form-control" id="frequencia" name="pessoa" [(ngModel)]="novo.totalFrequencia">
                    </div>

                    <button type="submit" class="btn btn-primary" [disabled]="!formCadastro.valid"><i class="fa fa-check" aria-hidden="true"></i> Salvar</button>
                    <button type="text" class="btn btn-danger" (click)="limpar()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>  
                </form>
            </div>
        </div>
        <br>
    </div>